body {
	margin: 0;
	padding: 0;
}

#myCanvas {
	position: fixed;
}

#source, #target {
	width: 130px;
}

#commanderDiv {
	
}

#commander {
	width: 130px;
}

#relevantStats, #assistedStats {
	vertical-align: middle;
	height: 41px;
}

#unitsDiv {
	
}

#assistDiv {
	visibility: hidden;
}

.hoverCard, .selectCard, .cityCard, .marchCard, .devCard, .unitCard, .deployedCard {
	position: fixed;
	border: 1px solid #000000;
	border-radius: 5px;
	background-color: #DDDDDD;
	font-family: "Segoe UI", "Tahoma", "Trebuchet MS", "Arial", "Helvetica";
	visibility: hidden;
	cursor: default;
	overflow: hidden;
	opacity: 0.95;
}

.forceName, .cityName, .title {
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.allyColor {
	background-color: #4F1E02;
	background-image: linear-gradient(to bottom right, #1F0B01, #7E3316);
}

.enemyColor {
	background-color: #FF1E02;
	background-image: linear-gradient(to bottom right, #AF0B01, #DE3326);
}

.neutralColor {
	background-color: #888888;
}

.cityInfo, .unitInfo {
	padding: 5px;
	font-size: 13px;
}

.smallPortrait {
	height: 30px;
	border-radius: 15px;
}

.cityStats {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	font-family: "Segoe UI", "Verdana", "Consolas", "Roboto Mono", "Courier New", "Courier";
	font-size: 13px;
}

.cityStats tr td {
	padding: 0;
}

.cityContent, .marchContent {
	padding: 5px;
	font-size: 13px;
}

.cityContent input {
	display: block;
	width: 100px;
}

.stats {
	border-collapse: collapse;
	font-family: "Segoe UI", "Consolas", "Roboto Mono", "Courier New", "Courier";
}

.stats th {
	padding: 2px;
	border: 1px solid #AAAAAA;
	width: 32px;
	text-align: center;
}

.stats td {
	padding: 2px;
	border: 1px solid #AAAAAA;
	width: 32px;
	text-align: right;
}

.checkboxes {
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

.checkboxes label {
	display: block;
}

.checkboxes label:hover {
	background-color: #1E90FF;
	color: #FFFFFF;
}

.checkboxes label input, .checkboxes label span {
	vertical-align: top;
}

.right {
	text-align: right;
}