body {
	margin: 0;
	padding: 0;
}

#myCanvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hoverCard {
	position: fixed;
	padding: 5px;
	border: 1px solid #000000;
	border-radius: 5px;
	background-color: #DDDDDD;
	font-family: "Consolas", "Roboto Mono", "Courier New", "Courier";
	visibility: hidden;
	cursor: none;
}

.smallPortrait {
	height: 30px;
	border-radius: 15px;
}